# dependencies
node_modules/
.pnp.*
.yarn/*

# builds
dist/
.next/
out/
build/
*.tsbuildinfo

# python
__pycache__/
*.py[cod]
.venv/
venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# env / secrets
.env
.env.*
!.env.example

# logs / os
*.log
.DS_Store
.turbo/

# data
infrastructure/data/

# next generated
apps/web/next-env.d.ts
